<!DOCTYPE html>
<html>
<head>
    <title>Edit</title>
</head>
<body>
    <h2>Edit Sighting</h2>
    <form action="/edit" method="post">
        <label for="name">Bird Name:</label><br>
        <input type="text" id="name" name="name" value="{{ name }}"><br>
        <label for="number">Number:</label><br>
        <input type="number" id="number" name="number" value="{{ number }}"><br>
        <label for="date">Date:</label><br>
        <input type="date" id="date" name="date" value="{{ date }}"><br>
        <label for="confidence">Confidence:</label><br>
        <input type="text" id="confidence" name="confidence" value="{{ confidence }}"><br>
    </form>
</body>
</html>